/* Bordered form */
/* form {
    border: 3px solid #f1f1f1;
  } */
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
.d1{
    border: 2px solid black;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
}
h2{
  text-align: center;
}
/* 
h2{
    text-align: center;
}
h4{
    text-align: center;
}

p{
    text-align: center;
} */
/* p{
    text-align: center;
} */
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}


.button .b1 {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  display: inline;
  font-size: 16px;
  cursor: pointer;
  /* float: left; */
}

span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 60px;
  /* border: 1px solid blue;   */
  /* background-color: yellow;  */
}

.button .b1:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.button .b1:hover {
  background-color: #3e8e41;
}




